.contact-info-list ul {
    list-style-type: none;
    text-align: start;
    padding: 5px;
}

.contact-info-list ul li {
    text-align:start;
    padding: 5px;
}

.contact-info {
    display: flex; /* Makes the items inside align in a row */
    flex-wrap: wrap; /* Allows items to wrap to the next line if space is limited */
    gap: 20px; /* Adds space between items */
    justify-content: space-between; /* Distributes items evenly, or you can use flex-start, center, etc. */
    align-items: center; /* Vertically aligns items in the center */
}

.cv-link {
    text-align:left;
    margin: 0px;
    padding: 0px;
    margin-right: auto;
    margin-bottom: auto;
}

