{{ define "body" }}
    <body class="{{ if .Site.Params.backgroundImage }} background-image" style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
{{ end }}

{{ define "main" }}
    <main>
        <div>
            {{ if .Site.Params.Portrait.Path }}
               <img src="{{ .Site.Params.Portrait.Path }}" class="circle" alt="{{ .Site.Params.Portrait.Alt }}" style="max-width:{{ .Site.Params.Portrait.MaxWidth }}">
            {{ end }}

            <h1>{{ .Site.Title }}</h1>

            {{ partial "subtitle.html" . }}

            {{- with .Site.Params.social }}
                <div>
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}

            <h2> I'm a Master's student in Daejeon, South Korea studying Mathematical Biology.</h2>

            <div style = "text-align: start;">
                I am a student in the mathematics department at KAIST where I try to solve interesting problems in Biology using mathematics. I like using differential equations to study problems in microbiology and medecine but I've worked on other projects as well. Some of my projects are
            </div>

            <div class="contact-info-list">
                <ul>
                    <li>
                        Working at the Institute of Basic Science to highlight incorrect results in a mathematical model of gene repression.
                    </li>
                    <li>
                        Finding ways to incorporate phylogentic information into statistical models of microbiome data
                    </li>
                    <li>
                        Building a compartmental model of the opioid epidemic in Kentucky
                    </li>
                </ul>
            </div>

            <div style = "text-align: start;">
                Outside of math bio I like learning languages, playing with Linux, learning web development, 3D art, and generative art. 
            </div>

            <div style = "text-align: start;">
                I'm currently in my last year and looking for new oppurtunities (academic and industry!). If you'd like the chat about anything, the best way to get in touch with me is by email at macquarrielucas(@)gmail(.)com
            </div>

        </div>

    </main>
{{ end }}
